@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor1: #012938;
    --cor2: #0388A6;
    --cor3: #025E73;
    --cor4: #80DDF2;
    --cor5: #04ADBF;

    --corA: #e06d6d;
    --corB: #ffae00;
    --corC: #469746;
    --corD: #ad0202;
    --corE: #5f1616;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

body {
    background-color: var(--cor1);
    color: white;
}

.main-calc {
    background-color: var(--cor3);
    position: absolute;
    height: 500px;
    width: 330px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: block;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
    background-color: var(--cor2);
    padding: 0px 20px 0px 20px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

label {
    display: block;
    font-size: 1.8em;
    text-align: center;
    margin-top: 20px;
    padding: 5px;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

input.valor {
    display: block;
    padding: 15px 0px 15px 0px;
    width: 90%;
    text-indent: 20px;
    margin: auto;
    border-radius: 10px;
    border: 0;
    background-color: #1b3e46;
    color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

div.botoes {
    margin-top: 40px;
}

button {
    display: block;
    margin: auto;
    width: 80%;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    font-weight: bolder;
    font-size: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    transition: 0.3s ease;
}

.bt-calc {
    background-color: var(--cor5);
}

.bt-calc:hover {
    background-color: #337381;
    color: white;
}

.bt-reset {
    background-color: white;
    border: 3px solid rgb(212, 99, 99);
    color: rgb(212, 99, 99);
}

.bt-reset:hover {
    background-color: rgb(212, 99, 99);
    color: white;
}

main.main-result {
    background-color: var(--cor3);
    position: absolute;
    height: 610px;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: none;
}

section#resultado>h1 {
    padding: 8px;
    margin-bottom: 20px;
}

section#resultado>p {
    text-align: center;
    font-size: 1.3em;
    color: var(--corA);
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    font-weight: bolder;
}

table {
    width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.596);
}

caption {
    caption-side: top;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px 0;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

th,
td {
    padding: 7px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

th {
    border-top: 1px solid #ddd;
    background-color: var(--cor1);
    padding: 10px;
}

.bt-voltar:hover {
    background-color: #c5c5c5;
}

.oculta {
    display: none;
}

.zoom {
    transition: transform 0.3s ease;
    transform: scale(1);
}

.zoom:hover {
    transform: scale(1.05);
}

.zoom:focus {
    transform: scale(1.05);
}