@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1450px) {
    .main-calc{
        height: 500px;
        width: 430px;
        transition: left .3s;
    }
    h1 {
        padding: 20px;
    }
}

@media screen and (min-width: 1450px) {
    .main-calc{
        left: 70%;
        height: 500px;
        width: 430px;
        transition: left .3s;
    }
    .main-result {
        left: 70%;
        transition: left .3s;
    }
    h1 {
        padding: 20px;
    }
    .divImg {
        display: block;
        position: absolute;
        left: 20%;
        top: 35%;
        transform: translate(-50%, -50%);
        animation: float 3s ease-in-out infinite;
    }
    @keyframes float {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-20px);
        }
    }

}